<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB09cY8OGLSm0RX8nRpiFIVQ_4DsR3n_GQ</string>
	<key>GCM_SENDER_ID</key>
	<string>178689254446</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.josipkilic.bokunSpize</string>
	<key>PROJECT_ID</key>
	<string>bokun-spize</string>
	<key>STORAGE_BUCKET</key>
	<string>bokun-spize.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178689254446:ios:483406a68793b017edabbf</string>
</dict>
</plist>